APP_ENV=development
LOG_LEVEL=INFO

TAPPAS_WORKSPACE=/opt/hailo/tappas
HAILO_HEF_PATH=/opt/hailo/tappas/apps/h8/gstreamer/resources/hef/yolov5m_wo_spp_60p.hef
HAILO_POSTPROCESS_SO=/opt/hailo/tappas/apps/h8/gstreamer/libs/post_processes/libyolo_hailortpp_post.so
HAILO_NETWORK_NAME=yolov5

CAMERA_1_ID=ceiling
CAMERA_1_ROLE=ceiling
CAMERA_1_RTSP_URL=rtsp://<username>:<password>@192.168.0.10:554/stream1
CAMERA_1_USERNAME=<username>
CAMERA_1_PASSWORD=<password>
CAMERA_1_ROTATION_DEGREES=270

CAMERA_2_ID=front
CAMERA_2_ROLE=front
CAMERA_2_RTSP_URL=rtsp://<username>:<password>@192.168.0.11:554/stream1
CAMERA_2_USERNAME=<username>
CAMERA_2_PASSWORD=<password>
CAMERA_2_ROTATION_DEGREES=0

CAMERA_3_ID=rear_side
CAMERA_3_ROLE=rear_side
CAMERA_3_RTSP_URL=rtsp://<username>:<password>@192.168.0.12:554/stream1
CAMERA_3_USERNAME=<username>
CAMERA_3_PASSWORD=<password>
CAMERA_3_ROTATION_DEGREES=0

CAMERA_4_ID=opposite_side
CAMERA_4_ROLE=opposite_side
CAMERA_4_RTSP_URL=rtsp://<username>:<password>@192.168.0.13:554/stream1
CAMERA_4_USERNAME=<username>
CAMERA_4_PASSWORD=<password>
CAMERA_4_ROTATION_DEGREES=0

CALIBRATION_PATH=data/calibration/site.json
PLC_ENDPOINT=tcp://127.0.0.1:502
UI_FULLSCREEN=true
UI_CAMERA_RESOLUTION=1280x720
