APP_ENV=development
LOG_LEVEL=INFO

TAPPAS_WORKSPACE=/opt/hailo/tappas
HAILO_MODEL_DIR=models/hailo
HAILO_HEF_PATH=${HAILO_MODEL_DIR}/general/yolov5m_wo_spp_60p.hef
HAILO_POSTPROCESS_SO=${HAILO_MODEL_DIR}/postprocess/libyolo_hailortpp_post.so
HAILO_NETWORK_NAME=yolov5
HAILO_VEHICLE_DETECTION_HEF_PATH=${HAILO_MODEL_DIR}/vehicle_detection/yolov5m_vehicles.hef
HAILO_VEHICLE_DETECTION_CONFIG_PATH=${HAILO_MODEL_DIR}/vehicle_detection/configs/yolov5_vehicle_detection.json
HAILO_VEHICLE_DETECTION_POSTPROCESS_SO=${HAILO_MODEL_DIR}/postprocess/libyolo_hailortpp_post.so
HAILO_PERSON_PRESENCE_HEF_PATH=${HAILO_MODEL_DIR}/person_presence/yolov5s_personface_reid.hef
HAILO_PERSON_PRESENCE_CONFIG_PATH=${HAILO_MODEL_DIR}/person_presence/configs/yolov5_personface.json
HAILO_PERSON_PRESENCE_POSTPROCESS_SO=${HAILO_MODEL_DIR}/postprocess/libyolo_post.so
HAILO_PERSON_PRESENCE_CROP_SO=${HAILO_MODEL_DIR}/postprocess/cropping_algorithms/libwhole_buffer.so
FAST_ALPR_DETECTOR_MODEL=yolo-v9-t-384-license-plate-end2end
FAST_ALPR_OCR_MODEL=cct-xs-v2-global-model

CAMERA_1_ID=ceiling
CAMERA_1_ROLE=ceiling
CAMERA_1_RTSP_URL=rtsp://<username>:<password>@192.168.0.10:554/stream1
CAMERA_1_USERNAME=<username>
CAMERA_1_PASSWORD=<password>
CAMERA_1_ROTATION_DEGREES=270

CAMERA_2_ID=front
CAMERA_2_ROLE=front
CAMERA_2_RTSP_URL=rtsp://<username>:<password>@192.168.0.11:554/stream1
CAMERA_2_USERNAME=<username>
CAMERA_2_PASSWORD=<password>
CAMERA_2_ROTATION_DEGREES=0

CAMERA_3_ID=rear_side
CAMERA_3_ROLE=rear_side
CAMERA_3_RTSP_URL=rtsp://<username>:<password>@192.168.0.12:554/stream1
CAMERA_3_USERNAME=<username>
CAMERA_3_PASSWORD=<password>
CAMERA_3_ROTATION_DEGREES=0

CAMERA_4_ID=opposite_side
CAMERA_4_ROLE=opposite_side
CAMERA_4_RTSP_URL=rtsp://<username>:<password>@192.168.0.13:554/stream1
CAMERA_4_USERNAME=<username>
CAMERA_4_PASSWORD=<password>
CAMERA_4_ROTATION_DEGREES=0

CALIBRATION_PATH=data/calibration/site.json
PLC_ENDPOINT=tcp://127.0.0.1:502
UI_FULLSCREEN=true
UI_CAMERA_RESOLUTION=1280x720
